.container { /* 왼쪽 중앙 정렬 */
    text-align: left;
    margin-left: 33%;
    margin-right: 33%;
}

.title {
    font-size: 40px;
    width: 350px;
}

.navBar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7em;
}

/* 반응형 */
@media only screen and (max-width: 650px) {
    .container{
        margin-left: 10px;
    }
}