.title {
  font-size: 40px;
  text-align: left;
  margin-left: 33%;
  margin-right: 33%;
  width: 350px;
  height: 200px;
}

.navBar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7em;
}

@media only screen and (max-width: 650px) {
    .title{
        margin-left: 10px;
    }
}